@charset "UTF-8";
/* CSS Document */

body, select, textarea {
    font-family:"Microsoft Yahei","宋体","楷体","仿宋_GB2312";
    font-size: 11px;
}

body {
    background-repeat: repeat-y;
    font-family:"Microsoft Yahei","宋体","楷体","仿宋_GB2312";
    font-size: 13px;
    background: none repeat scroll 0 0 #d8edfc;
 /*   border: 3px solid #4891c6; */
}

#banner {
	background-color: #e2f3b8;
    height: 10%;
	border-bottom: 1px solid #fff;
    padding: 0;
}

#banner img {
    margin: 10px 10px 0 0 !important;
	border: medium none;
}



#breadcrumbs, #footer, #navcolumn li {
    font-size: 10px;
}

#bodyColumn {
    padding: 0;
    height: 88%;
    width: 84%;
	float: left;    
}

#tabpanel {
	margin:5px;
    padding: 5px;
    height: 98%;
    width: 98%;
   
}

.dojoTab.current span {
	font-weight:bold;
}

div.clear {
    clear: both;
    visibility: hidden;
}

#footer {
    border-top: 1px solid #ccc;
    color: #333333;
    margin: 0;
    padding: 0;
    height: 3%;

}

#footer span{
    float: right;
}

#bannerLeft, #bannerRight {
    font-size: xx-large;
    font-weight: bold;
}

h4, h5, h6, p, strong, div, form, acronym, label, table, td, th, span, a, hr, code, pre, hr {
    background-repeat: no-repeat;
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.clear hr {
    display: none;
}

hr {

    color: #fff;
    height: 1px;
    margin: 5px 0;
    width: 50%;
	background-color: transparent;
}

.xright{
    float: right;
}

#leftColumn {
    background-color: #e2f3b8;
    margin: 3px 0 0 0;
    padding: 0;
    width: 15%;
    height: 88%;
	float: left;
	overflow: auto;
}

#main {
		height: 100%;
		width: 100%;
		border: 0;
		font-size:15px;
		margin: 0 !important;
        padding: 0 !important;
	}
	
#Btstyle{
	width: 180px !important;	
}	

.picBox {
 margin: 3px 0 0 0;
 width:9px;
 height: 88%;
 background:#e2f3b8 url("../../img/TableIcon/right.gif") no-repeat center center;
 float:left;
}

* {
	padding: 0;
	margin: 0;
}


ul.jing {
	width: 190px;
	margin: 10px auto 0;
	position: relative;
}

li.left{
	list-style: none;
	width: 180px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	border: 1px solid #ccc;
	border-left: 3px solid #666;
	font-size: 14px;
	color: #333;
	margin-bottom: 5px;
	position: relative;
	z-index: 2;
}

#firstlevel {
font-size:17px;
font-weight: bold;
text-shadow:1px 1px 1px #72b37e;
background: #fff0f0;
}

a {
	color: #333;
}

.active {
	font-weight: bold;
	background: #f9a9de;
	list-style: none;
	width: 180px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	border: 1px solid #ccc;
	border-left: 3px solid #666;
	font-size: 14px;
	color: #333;
	margin-bottom: 5px;
	position: relative;
	z-index: 2;
}

#bar {
	width: 10px;
	padding-left: 0;
	background: #cc6699;
	border: 1px solid #cc6699;
	position: absolute;
	top: 0;
	left: -14px;
	z-index: 3;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	COLOR: #0000ff;
	
}

a:active {
	text-decoration: none;
}

#space {
margin-right: 10px;
}



#navigation{
margin:0 20px;
}

#navigation label{
font-size:15px;
font-weight: bold;
}

#navigation label.first{
font-size:15px;
font-weight: bold;
text-shadow:1px 1px 1px #72b37e;
}

#navigation img{
width:35px;
height:18px;
vertical-align:text-top;
}

